#drawer_ui .ant-drawer-body {
    padding: 0;
}

#drawer_ui, .ant-drawer-content-wrapper, .ant-drawer-mask, .ant-drawer {
    display: none;
}

#btn__sider {
    display: block;
}

#btn__drawer {
    display: none;
}

.change__language .ant-select-selector {
    border: none !important;
}

@media (max-width: 1025px) {
    #drawer_ui, .ant-drawer-content-wrapper, .ant-drawer-mask, .ant-drawer, #button_sider {
        display: block;
    }
    
    #sider_ui {
        display: none;
    }

    #btn__sider {
        display: none;
    }
    
    #btn__drawer {
        display: block;
    }
}