.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph>li:last-child:not(:first-child):not(:nth-child(2)) {
    width: 100%;
}
.ant-skeleton .ant-skeleton-content .ant-skeleton-title +.ant-skeleton-paragraph {
    margin-block-start: 16px;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
    width: 100% !important;
}